<div class="search">
    <div class="level has-icons-right">
        <input class="input" type="text" placeholder="Search" [(ngModel)]="searchInput" (keyup.enter)="onSearch()">
        <span class="button is-right ml-3" (click)="onSearch()">
            <i class="fas fa-search" aria-hidden="true"></i>
        </span>
    </div>
    <div class="list">
        <div class="list-item" *ngFor="let item of searchResults">
            <div class="list-item-content">
                <div class="box my-5">
                    {{ sqlDateToString(item.date) + " - " + item.user + " - " + item.disease + " - " +
                    item.percentage.toFixed(0) + "% - " + (item.result == "true" ?
                    "True" : "False") }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="filler"></div>
<main></main>
<footer>
    <div class="back mb-3">
        <button class="button is-danger ml-5" onclick="location.href='/'">
            <span class="icon">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span>Back</span>
        </button>
    </div>
</footer>