<div class="test">
    <div class="level has-text-light">
        <div class="level-item has-text-centered px-1">
            <div class="field">
                <label class="label has-text-light">Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Enter name here">
                </div>
            </div>
        </div>
        <div class="level-item has-text-centered px-1">
            <div class="field">
                <label class="label has-text-light">DNA Sequence</label>
                <div class="file has-name">
                    <label class="file-label">
                        <input class="file-input" type="file" name="resume">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Choose a file…
                            </span>
                        </span>
                        <span class="file-name">
                            DNA_Sequence.txt
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="level-item has-text-centered px-1">
            <div class="field">
                <label class="label has-text-light">Disease Prediction</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Enter disease here">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="level has-text-centered">
        <div class="level-item has-text-centered">
            <button class="button">
                <span class="icon">
                    <i class="fas fa-check"></i>
                </span>
                <span>Submit</span>
            </button>
        </div>
    </div>
</div>
