<!-- solid color background with big logo text at the top saying "DNAregex" -->
<div class="background has-background-dark">
    <div class="title mt-5">
        <a href="/">
            <span class="title-dna has-text-danger">DNA</span>
            <span class="title-regex has-text-light">regex</span>
        </a>
    </div>
    <main></main>
    <footer>
        <div class="content has-text-centered pb-5">
            <span class="has-text-light">Made with 🧬 by Hilmi, Raka, and Zayd</span>
        </div>
    </footer>
</div>

