.add {
    padding-top: 40vh;
    width: 60%;
    margin: auto;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 55px);
}

main {
    flex: 1;
}